/* .parent {
  background-color: red;
  width: 100vh;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  canvas#canvas_id {
    width: 100% !important;
    height: 100% !important;
  }
} */

/* .Parent1 {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.Parent1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  position: absolute;
}
.canvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100% !important;
  height: 100% !important ;
} */
.Parent1 {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.canvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-width: 450px) {
  .Parent1 {
    width: 100vw;
    height: 100vh;
  }
}
